

<div class="section">
  <div class="container">
    <div class="columns is-centered ">
      <div class="column is-4 ">
        <div class="has-text-center is-size-3">Edit <%= resource_name.to_s.humanize %></div>
        <div class="box">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="field">
              <div class="control">
                <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { class: 'input' },
                  wrapper: false %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.input :password,
                  placeholder: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password", class: 'input' },
                  wrapper: false %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", class: 'input' },
                  wrapper: false %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password", class: 'input' },
                  wrapper: false %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.button :submit, "Update", class: 'button is-primary' %>
              </div>
            </div>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
        </div>
        <% end %>          
      </div>
    </div>
  </div>
</div>





