<div class='section'>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="has-text-left is-size-3">Sign up</div>
        
        <div class="box">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="field">
              <div class='control'>
                <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { class: 'input', autocomplete: "username", placeholder: 'johndoe45' },
                    label_html: { class: 'label' },
                    wrapper: false %>
              </div>
            </div>
              
            <div class="field">
              <div class='control'>
                <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { class: 'input', autocomplete: "name", placeholder: 'John Doe'},
                    label_html: { class: 'label' },
                    wrapper: false %>
              </div>
            </div>

            <div class="field">
              <div class='control'>
                <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: 'input', autocomplete: "email", placeholder: "email@domain.com" },
                    label_html: { class: 'label' },
                    wrapper: false %>
              </div>
            </div>

            <div class="field">
              <div class='control'>
                <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { class: 'input', autocomplete: "new-password", placeholder: '*******' },
                    label_html: { class: 'label' },
                    wrapper: false %>
              </div>
            </div>

            <div class="field">
              <div class='control'>
                <%= f.input :password_confirmation,
                    required: true,
                    input_html: { class: 'input', autocomplete: "new-password", placeholder: '*******' },
                    label_html: { class: 'label' },
                    wrapper: false %>
              </div>
            </div>

            <div class='field'>
              <div class='control'>
                <%= f.button :submit, 'Sign up', class: 'button is-primary' %>
              </div>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div> <%# box end %>
      </div> <%# column is-4 %>
    </div>
  </div> <%# container %>
</div>  <%# section %>

