<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="has-text-left is-size-2">Log in</div>
        <div class="box">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "input" },
                  wrapper: false %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: 'input' },
                  wrapper: false %>
              <%= f.input :remember_me,
                  wrapper: false,
                  as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
          <div class='field'>
            <div class='control'>
              <%= f.button :submit, "Log in", class: 'button is-primary' %>
            </div>
          </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>



